.button {
  background-color: #0278fe;
  border-radius: 4px;
  color: #fff;
  padding: 13px 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  text-decoration: none;
  max-width: max-content;
  height: min-content;
  display: inline-block;
  box-sizing: border-box;
}

.button:hover {
  background: #0063d2;
}

@media screen and (max-width: 570px) {
  .button {
    max-width: 100%;
    margin: 0 16px 0;
    text-align: center;
  }
}
