.footer {
  margin-top: 7.18749%;
  display: flex;
  justify-content: center;
}

.footer__copyright {
  padding: 0;
  margin: 0 auto 24px;
  font-size: 14px;
  line-height: 1.14;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 11.458333333333332%;
  }
}

@media screen and (max-width: 570px) {
  .footer {
    margin-top: 20%;
  }
}
