.page {
  max-width: 1280px;
  background-color: #2a2c2f;
  margin: 0 auto;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 768px) {
  .page {
    max-width: 768px;
  }
}

@media screen and (max-width: 570px) {
  .page {
    max-width: 570px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    max-width: 320px;
  }
}
